---
import { Icon } from 'astro-icon/components'
---

<div class="back-to-top-wrapper hidden lg:block">
    <div id="back-to-top-btn" class="back-to-top-btn hide flex items-center rounded-2xl overflow-hidden transition" onclick="backToTop()">
        <button aria-label="Back to Top" class="btn-card h-[3.75rem] w-[3.75rem]">
            <Icon name="material-symbols:keyboard-arrow-up-rounded" class="mx-auto"></Icon>
        </button>
    </div>
</div>

<style lang="stylus">
.back-to-top-wrapper
  /* No extra positioning needed here */

.back-to-top-btn
  position: fixed
  bottom: 3rem         /* Adjust vertical position */
  left: 50%            /* Start from the center of the screen */

  transform: translateX(calc((var(--page-width) / 2) - 1rem))
  color: var(--primary)
  font-size: 2.25rem
  font-weight: bold
  border: none
  opacity: 1
  cursor: pointer
  transition: transform 0.3s, opacity 0.3s
  i
    font-size: 1.75rem
  
  &.hide
    transform: translateX(calc((var(--page-width) / 2) - 1rem)) scale(0.9)
    opacity: 0
    pointer-events: none
</style>

<script is:raw is:inline>
function backToTop() {
    window.scroll({ top: 0, behavior: 'smooth' });
}
</script>
